.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.header__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 16px;
}

.header__start{
  height: 40px;
  line-height: 40px;
}

.header__hamburger{
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}

.header__title{
  font-size: 1.2rem;
  margin-left: 6px;
  font-family: 'Roboto Slab', serif;
}

.header__center{
  width: 50%;
}

.header__form{
  display: flex;
  max-width: 100%;
}

.header__input--text{
  width: calc(100% - 60px);
  height: 40px;
  padding: 0 6px;
  border: 1px solid #8f8f8f;
  border-right: none;
  border-radius: 2px 0 0 2px;
 }

.header__input--button{
  width: 60px;
  border: 1px solid #8f8f8f;
  border-left: none;
  border-radius: 0 2px 2px 0;
}

.header__input--button:hover{
  background-color: #146ebe;
}

.header__end{
  display: flex;
}

.header__search{
  display: none;
  margin-right: 5px;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}

.header__profile{
  width: 40px;
  height: 40px;
  border: 1px solid #eaeaea;
  border-radius: 50%;
  background-image: url('/img/logo.ico');
  background-size: 40px 40px;
}

@media screen and (max-width: 800px) { 
  .header__title{
    display: none;
  }
}

@media screen and (max-width: 400px) { 
  .header__center{
    display: none;
  }
  
  .header__search{
    display: block;
  }
}